$fa-font-path: "../fonts";

$purple: #4B35B3;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: map-merge($theme-colors, (
  "primary":    $purple,
  "light":      $light,
  "dark":       $dark
));

$colors: map-merge($colors, (
  "purple":     $purple,
  "gray-dark":  $dark
));
