{{ partial "header.html" . }}

<main class="main-content list content" role="main">
  <header class="page-header">
    <h1 class="page-header__title">{{ .Title }}</h1>
  </header>

  <div class="page-content">
    {{ .Content }}
  </div>

  {{ partial "calendar.html" . }}

  <div class="page-content">
  {{ range .Paginator.Pages.ByDate.Reverse }}
    {{ .Render "summary" }}
  {{ end }}

  {{ partial "pagination.html" . }}
  </div>
</main>

{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
