<h2>Food</h2>
<p>Food on campus is scarce on weekends, so we recommend either ordering in food, or bringing something with you. There are a few corner-shops located nearby however. There's a <a href="https://goo.gl/yYlfs5">map of local food places</a> to help you find nearby food.</p>

<h2>Electronics</h2>
<p>As expected, you'll need to bring your robot to work on, in whatever state it may be. We also recommend bringing at least 1 laptop with you to work on. Laptops can be provided, however this needs to be arranged with us in advance.</p>

<h2>Supervision</h2>
<p>Team members must be accompanied by any adult who is able to take responsibility for all of them. (This would ideally be a teacher, but it can be a parent if all the other parents agree).</p>
